In [1]:
#initialise
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from sklearn.linear_model import LinearRegression
import datetime

In [53]:
#import jobs datasets

recruit = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Average Monthly Recruitment:Resignation Rates by Industry and Occupational Group, Quarterly/average-monthly-recruitment-resignation-rate-by-industry-and-occupational-group-level-3.csv',
                        header=0)

vacancy = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-by-industry-and-occupational-group-level3.csv',
                        header=0)

vacancyr = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-rate-by-industry-and-occupational-group-level3.csv',
                        header=0)

# join recruit, vacancy, vacancyr dataframes and filter for information and comms industry
jobs = vacancy.merge(vacancyr,on=['quarter','industry1','industry2','industry3','occupation1'])[['quarter','industry1','industry2','industry3','occupation1','job_vacancy','job_vacancy_rate']].merge(recruit,on=['quarter','industry1','industry2','industry3','occupation1'])[['quarter','industry1','industry2','industry3','occupation1','job_vacancy','job_vacancy_rate','recruitment_rate','resignation_rate']]

jobs = jobs[jobs['industry2']=='information and communications'].reset_index(drop=True)
jobs[['year', 'quarter']] = jobs['quarter'].str.split('-', 1, expand=True) # split the quarter column into year and quarter columns
jobs.insert(0, 'year', jobs.pop('year')) # move year column to the front
jobs['industry3'] = jobs['industry3'].replace(['telecommunications','broadcasting and publishing'], 'telecommunications, broadcasting and publishing') # unified industry3 values


# change the datatypes for all columns in jobs dataset and replace '-' with 0
jobs = jobs.replace('-',0)

convert_dict = {'year':str,
                'quarter':str,
                'industry1':str,
                'industry2':str,
                'industry3':str,
                'occupation1':str,
                'job_vacancy':int,
                'job_vacancy_rate':float,
                'recruitment_rate':float,
                'resignation_rate':float
                }

jobs = jobs.astype(convert_dict)

# drop the rows where numeric data is '0'
jobs = jobs[jobs['year'] != 0][jobs['job_vacancy'] != 0][jobs['job_vacancy_rate'] != 0][jobs['recruitment_rate'] != 0][jobs['resignation_rate'] != 0].reset_index(drop=True)

#view first 10 rows of dataset
jobs.head(10)

print(f"The jobs dataset is a combination of:\n'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Average Monthly Recruitment:Resignation Rates by Industry and Occupational Group, Quarterly/average-monthly-recruitment-resignation-rate-by-industry-and-occupational-group-level-3.csv',\n'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-by-industry-and-occupational-group-level3.csv', and\n'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-rate-by-industry-and-occupational-group-level3.csv'.")
print()
print(f"The datasets were merged and then filtered for jobs in the information and communication (ICT) industry. The year and quarter columns were created using string split from the original quarter column.")
print()
print(f"This is the shape of the dataset\n{jobs.shape}")
print()
print(f"This is the index of the dataset\n{jobs.index}")
print()
print(f"These are the columns in the dataset\n{jobs.columns}")
print()
print(f"The total number of non-NA values in this dataset is:\n{jobs.count()}")
print()
print(f"A summary of this dataset is shown below:")
print(jobs.info())
print()
print(f"A descriptive statistical summary of this dataset is shown below:\n{jobs[['job_vacancy','job_vacancy_rate','recruitment_rate','resignation_rate']].describe()}")

The jobs dataset is a combination of:
'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Average Monthly Recruitment:Resignation Rates by Industry and Occupational Group, Quarterly/average-monthly-recruitment-resignation-rate-by-industry-and-occupational-group-level-3.csv',
'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-by-industry-and-occupational-group-level3.csv', and
'/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-rate-by-industry-and-occupational-group-level3.csv'.

The datasets were merged and then filtered for jobs in the information and communication (ICT) industry. The year and quarter columns were created using string split from the original quarter column.

This is the shape of the dataset
(549, 10)

This is the index of the dataset
RangeIndex(start=0, stop=549, step=1)

These are the columns in the dataset
Index(['year', 'quarter', 'industry1', 'industry2', 'industry3', 'occupation1',
       'job_vacancy', 'job_vacancy_rate', 'recruitment_rate',
       'resignation_rate'],
      dtype='object')

The total number of non-NA values in this dataset is:
year                549
quarter             549
industry1           549
industry2           549
industry3           549
occupation1         549
job_vacancy         549
job_vacancy_rate    549
recruitment_rate    549
resignation_rate    549
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              549 non-null    object
 1   quarter           549 non-null    object
 2   industry1         549 non-null    object
 3   industry2         549 non-null    object
 4   industry3         549 non-null    object
 5   occupation1       549 non-null    object
 6   job_vacancy       549 non-null    int64
 7   job_vacancy_rate  549 non-null    float64
 8   recruitment_rate  549 non-null    float64
 9   resignation_rate  549 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 43.0+ KB
None

A descriptive statistical summary of this dataset is shown below:
       job_vacancy  job_vacancy_rate  recruitment_rate  resignation_rate
count   549.000000        549.000000        549.000000        549.000000
mean    823.315118          3.413479          2.674499          1.950273
std    1391.227446          2.381146          1.041461          0.645637
min     100.000000          0.400000          0.800000          0.600000
25%     100.000000          2.000000          1.900000          1.500000
50%     400.000000          2.600000          2.600000          1.900000
75%     700.000000          4.100000          3.300000          2.400000
max    9800.000000         19.700000          7.800000          3.900000

/var/folders/nv/c05ywcr140z_fcwc2kx0h69m0000gn/T/ipykernel_1904/2643841485.py:16: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  jobs[['year', 'quarter']] = jobs['quarter'].str.split('-', 1, expand=True) # split the quarter column into year and quarter columns
/var/folders/nv/c05ywcr140z_fcwc2kx0h69m0000gn/T/ipykernel_1904/2643841485.py:39: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  jobs = jobs[jobs['year'] != 0][jobs['job_vacancy'] != 0][jobs['job_vacancy_rate'] != 0][jobs['recruitment_rate'] != 0][jobs['resignation_rate'] != 0].reset_index(drop=True)

In [35]:
# import schools datasets

poly = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Polytechnics - Intake, Enrolment, Graduates/polytechnics-intake-enrolment-and-graduates-by-course.csv',
                    header=0)

uni = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Universities - Intake, Enrolment, Graduates/universities-intake-enrolment-and-graduates-by-course.csv',
                    header=0)

print(f"The polytechnic dataset was successfully loaded: /Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Polytechnics - Intake, Enrolment, Graduates/polytechnics-intake-enrolment-and-graduates-by-course.csv")
print()
print(f"This is the shape of the dataset\n{poly.shape}")
print()
print(f"This is the index of the dataset\n{poly.index}")
print()
print(f"These are the columns in the dataset\n{poly.columns}")
print()
print(f"The total number of non-NA values in this dataset is:\n{poly.count()}")
print()
print(f"A summary of this dataset is shown below:")
print(poly.info())
print()
print(f"A descriptive statistical summary of this dataset is shown below:\n{poly[['intake','enrolment','graduates']].describe()}")
print()
print()
print()
print()
print(f"The university dataset was successfully loaded: /Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Universities - Intake, Enrolment, Graduates/universities-intake-enrolment-and-graduates-by-course.csv")
print()
print(f"This is the shape of the dataset\n{uni.shape}")
print()
print(f"This is the index of the dataset\n{uni.index}")
print()
print(f"These are the columns in the dataset\n{uni.columns}")
print()
print(f"The total number of non-NA values in this dataset is:\n{uni.count()}")
print()
print(f"A summary of this dataset is shown below:")
print(uni.info())
print()
print(f"A descriptive statistical summary of this dataset is shown below:\n{uni[['intake','enrolment','graduates']].describe()}")

The polytechnic dataset was successfully loaded: /Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Polytechnics - Intake, Enrolment, Graduates/polytechnics-intake-enrolment-and-graduates-by-course.csv

This is the shape of the dataset
(408, 6)

This is the index of the dataset
RangeIndex(start=0, stop=408, step=1)

These are the columns in the dataset
Index(['year', 'sex', 'course', 'intake', 'enrolment', 'graduates'], dtype='object')

The total number of non-NA values in this dataset is:
year         408
sex          408
course       408
intake       408
enrolment    408
graduates    408
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       408 non-null    int64
 1   sex        408 non-null    object
 2   course     408 non-null    object
 3   intake     408 non-null    int64
 4   enrolment  408 non-null    int64
 5   graduates  408 non-null    int64
dtypes: int64(4), object(2)
memory usage: 19.2+ KB
None

A descriptive statistical summary of this dataset is shown below:
            intake     enrolment    graduates
count   408.000000    408.000000   408.000000
mean   1479.872549   4421.406863  1349.482843
std    1720.689852   5242.760881  1620.014032
min      60.000000     73.000000     0.000000
25%     342.000000   1019.750000   291.250000
50%     776.500000   2219.000000   703.000000
75%    1888.000000   5564.250000  1722.250000
max    8209.000000  24716.000000  7399.000000




The university dataset was successfully loaded: /Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Universities - Intake, Enrolment, Graduates/universities-intake-enrolment-and-graduates-by-course.csv

This is the shape of the dataset
(510, 6)

This is the index of the dataset
RangeIndex(start=0, stop=510, step=1)

These are the columns in the dataset
Index(['year', 'sex', 'course', 'intake', 'enrolment', 'graduates'], dtype='object')

The total number of non-NA values in this dataset is:
year         510
sex          510
course       510
intake       510
enrolment    510
graduates    510
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       510 non-null    int64
 1   sex        510 non-null    object
 2   course     510 non-null    object
 3   intake     510 non-null    int64
 4   enrolment  510 non-null    int64
 5   graduates  510 non-null    int64
dtypes: int64(4), object(2)
memory usage: 24.0+ KB
None

A descriptive statistical summary of this dataset is shown below:
            intake     enrolment    graduates
count   510.000000    510.000000   510.000000
mean    856.500000   3052.150980   712.290196
std    1046.964818   3753.460828   900.976873
min       0.000000      0.000000     0.000000
25%     185.000000    690.500000   146.250000
50%     383.500000   1394.000000   346.000000
75%    1240.750000   4494.000000  1062.250000
max    5255.000000  18366.000000  4621.000000

In [48]:
poly['course'].unique()

# filter poly data for ICT industry degrees
poly_ict = poly[poly['course'].isin(['Engineering Sciences','Information Technology','Mass Communication'])].reset_index(drop=True)

uni['course'].unique()

# filter uni data for ICT industry degrees
uni_ict = uni[uni['course'].isin(['Engineering Sciences','Information Technology','Mass Communication'])].reset_index(drop=True)

# merge poly and uni datasets
poly_uni_ict = poly_ict.merge(uni_ict, on=['year','sex','course'], suffixes=('_poly','_uni'))

print(poly_uni_ict.head(10))

   year sex                  course  intake_poly  enrolment_poly  \
0  2005  MF    Engineering Sciences         7826           22462
1  2005   F    Engineering Sciences         2097            5939
2  2005  MF  Information Technology         4122           11607
3  2005   F  Information Technology         1887            5065
4  2005  MF      Mass Communication          448            1426
5  2005   F      Mass Communication          324            1029
6  2006  MF    Engineering Sciences         8209           23713
7  2006   F    Engineering Sciences         2108            6197
8  2006  MF  Information Technology         3972           11753
9  2006   F  Information Technology         1728            5134

   graduates_poly  intake_uni  enrolment_uni  graduates_uni
0            6536        4028          16599           3859
1            2005        1170           4868           1200
2            3356         773           2356            562
3            1464         280            765            200
4             419         172            644            146
5             282         130            507            110
6            6415        4101          16663           3811
7            1786        1025           4694           1137
8            3351         728           2505            540
9            1477         185            796            139

In [59]:
jobs.head(10)

jobs_mean = jobs[jobs['occupation1'] == 'total'][['year','job_vacancy','job_vacancy_rate','recruitment_rate','resignation_rate']].groupby('year').mean().round(2)