In [97]:
#initialise
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from sklearn.linear_model import LinearRegression

In [118]:
#import datasets

recruit = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Average Monthly Recruitment:Resignation Rates by Industry and Occupational Group, Quarterly/average-monthly-recruitment-resignation-rate-by-industry-and-occupational-group-level-3.csv',
                        header=0)

vacancy = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-by-industry-and-occupational-group-level3.csv',
                        header=0)

vacancyr = pd.read_csv('/Users/iylia/Library/Mobile Documents/com~apple~CloudDocs/SP/Intro to Programming for DS/CA2/Data/Job Vacancy By Industry and Occupational Group, Quarterly/job-vacancy-rate-by-industry-and-occupational-group-level3.csv',
                        header=0)

# join recruit, vacancy, vacancyr dataframes and filter for information and comms industry
jobs = vacancy.merge(vacancyr,on=['quarter','industry1','industry2','industry3','occupation1'])[['quarter','industry1','industry2','industry3','occupation1','job_vacancy','job_vacancy_rate']].merge(recruit,on=['quarter','industry1','industry2','industry3','occupation1'])[['quarter','industry1','industry2','industry3','occupation1','job_vacancy','job_vacancy_rate','recruitment_rate','resignation_rate']]

jobs = jobs[jobs['industry2']=='information and communications'].reset_index(drop=True)
jobs[['year', 'quarter']] = jobs['quarter'].str.split('-', 1, expand=True) # split the quarter column into year and quarter columns
jobs.insert(0, 'year', jobs.pop('year')) # move year column to the front

#view first 10 rows of dataset
jobs.head(10)

/var/folders/nv/c05ywcr140z_fcwc2kx0h69m0000gn/T/ipykernel_36759/660345100.py:16: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  jobs[['year', 'quarter']] = jobs['quarter'].str.split('-', 1, expand=True)

,year,quarter,industry1,industry2,industry3,occupation1,job_vacancy,job_vacancy_rate,recruitment_rate,resignation_rate
0,2000,Q1,services,information and communications,broadcasting and publishing,total,500,6.1,2.7,3.2
1,2000,Q1,services,information and communications,broadcasting and publishing,"professional, managers, executive and technicians",400,8.9,3.2,3.3
2,2000,Q1,services,information and communications,broadcasting and publishing,"clerical, sales and services workers",-,1.4,1.8,2.6
3,2000,Q1,services,information and communications,broadcasting and publishing,"production and transport operators, cleaners a...",-,2.2,5,6.9
4,2000,Q1,services,information and communications,telecommunications,total,700,6.5,2.5,2
5,2000,Q1,services,information and communications,telecommunications,"professional, managers, executive and technicians",300,5.1,2.3,1.3
6,2000,Q1,services,information and communications,telecommunications,"clerical, sales and services workers",400,8.4,2.7,2.9
7,2000,Q1,services,information and communications,telecommunications,"production and transport operators, cleaners a...",-,12.7,5.1,5.1
8,2000,Q1,services,information and communications,it and other information services,total,600,4.4,4.3,3.1
9,2000,Q1,services,information and communications,it and other information services,"professional, managers, executive and technicians",600,4.9,4.5,3.2

In [99]:
# %reset